@media screen and (max-width: 300px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

@media screen and (max-width: 500px) {
  .intro h1 {
    font-size: 40px; /* Decreased font size for smaller screens */
  }
}

